body {
    background-color: #414957;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #2F3542;
    /*new*/
    padding-top: 159px;
    padding-bottom: 90px;    
}

/*** Color ***/

.cB{
    color: #3985de;
}

/** p **/
p {
    font-size: 13px;
    font-weight: 300;
}
p.imp{
    color: #8d99ae;
    font-size: 11px;
    letter-spacing: .4px;
    font-weight: 300;
    color: #2F3542;
}


/** Nav **/

/*new*/
/*
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    position: fixed;
    top: 84px;
    width: 100%;
    z-index: 9998;
}*/

.secNav {
    position: fixed;
    top: 84px;
    width: 100%;
    z-index: 9998;
}




.topNav {
    background-color: #2f3542;
    border-bottom: 1px solid #424958;
    /*new*/
    /*position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;*/
    z-index: 9999;
}
#navbarCollapse2 li.nav-item {
    padding: 0 .6rem;
}




nav.navbar.navbar-expand-lg.navbar-dark.nav3 a{
    font-size: 12px;
    text-transform: capitalize;
    color: #8d99ae;
    border-right: 1px solid #5f6d7d;
    border-left: 1px solid #5f6d7d;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}
.nav3 a:hover {
    color: #64b0ff !important;
}

.nav-link:hover{
    color: #64b0ff!important;
}
.nav3 {
    margin-bottom: 1rem;
}
.active .nav-link img:last-child{
    display: inline-block;
}
.active .nav-link img:first-child{
    display: none;
}
.active .nav-link {
    color: #64b0ff!important;
}

.nav-link {
    display: grid;
}
.nav-link img{
    padding-left: 37%;
}

.nav-link img:last-child{
    display:none;
}

.nav-link:hover img:first-child{
    display: none;
}
.nav-link:hover img:last-child{
    display: inline-block;
    //padding-top: 20px;
}



.lbn {
    border-left: none !important;
}
.rbn {
    border-right: none !important;
}

.boxBorder {
    border-right: 1px solid #424958;
}

.boxBorder .navbar-brand img {
    padding: 10px 20px;
}

.boxBorderR1,
boxBorderR2 {
    border-left: 1px solid #424958;
    height: 81px;
    padding-top: 10px;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 12px;
    text-transform: uppercase;
    color: #8d99ae;
    letter-spacing: .5px;
}

.topAlert {
    background-color: #3985de;
    border: none;
    border-radius: 0px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin-bottom: 0rem;
}

.close {
    opacity: 1;
}

a.nav-link.text-center.blueIco {
    color: #64b0ff;
}






/** Settings Nav **/

.setBlk {
    background-color: #000;
}
.setNav {
    background-color: #f8fcff;
    margin-bottom: 2rem;
}
.setNav a{
    border: .5px solid #e9e9e9;
    color: #8d99ae;
    letter-spacing: .8px;
    text-transform: uppercase;
    font-size: 13px;
    background-color: #f8fcff;
    display: block;
    padding: 1rem;
}
.setNav a:hover{
    text-decoration: none;
    color: #fff;
    background-color:#5f6d7d; 
}
.setActive {
    background-color: #5f6d7d !important;
    color: #fff !important;
}

/*** Top Title Bar ***/

.topTitleBar {
    font-size: 14px;
    color: #8d99ae;
    padding-top: 1rem;
}

.topTitleBar hr {
    border: .5px solid #5F6D7D !important;
    margin-bottom: 2rem;
    margin-top: 2rem;
}


/*** Content ***/

.mainBox {
    background-color: #fff;
    //min-height: 1714px;
    margin-bottom: 70px;
    padding: 80px 48px !important;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}
h2 {
    font-size: 24px;
    font-weight: 600;
}
h3 {
    font-size: 15px;
    font-weight: 600;
}
h5 {
    font-size: 12px;
    color: #5f6d7d;
    letter-spacing: .9px;
    text-transform: uppercase;
    margin-top: 1rem;
}
.subH1 {
    color: #5f6d7d;
    font-size: 20px;
    font-weight: 300;
}

.f11{
    font-size: 11px !important;   
}
.subDate {
    font-size: 13px;
    color: #3985DE;
}


.mainBox hr {
    border: .5px solid #d8d8d8;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}


/*** Form ***/

label {
    font-size: 11px;
    color: #5f6d7d;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}



.custom-select-lg {
    color: #2f3542;
    font-size: 24px !important;
    height: calc(4rem + 2px);
}

.formBox {
    background-color: #f8fcff;
    //background-color: #f00;
    padding: 2rem;
    border-radius: 4px;
    border: 1px solid #E3E3E3;
    margin-bottom: 2rem;
}

span a {
    font-size: 12px;
    color: #64b0ff;
    letter-spacing: .5;
}

.form-control {
    font-size: 13px;
    font-weight: 400;
    color: #121212;
    letter-spacing: .5px;
}
form option{
    font-size: 13px;
    color: #121212;
}

.contentArea {
    min-height: 450px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 1rem;
}
.custom-select {
    font-size: 13px;
}

/*** Btn ***/

.upBtn {
    background-color: #f8fcff;
    border: 1px solid #e3e3e3;
    font-size: 11px;
    color: #8d99ae;
}
.saveDrft {
    background-color: #f8fcff;
    border: 1px solid #e3e3e3;
    font-size: 14px;
    color: #8d99ae;
    padding: .5rem;
}
.gradBtn {
    font-size: 14px;
    color: #fff;
    padding: .5rem;
    background: #3985de; /* Old browsers */
    background: -moz-linear-gradient(left, #3985de 0%, #60a9ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #3985de 0%,#60a9ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #3985de 0%,#60a9ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3985de', endColorstr='#60a9ff',GradientType=1 ); /* IE6-9 */
}

.gradDis {
    background-color: #AFB8CA !important;
    font-size: 14px;
    color: #fff;
}

a.prevA {
    color: #8D99AE;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    font-size: 13px;
}

/** Toggle-Switch **/


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 26px;
    margin-right: 8px;
    margin-bottom: 0px
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #dfdfdf;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #dfdfdf;
}

input:checked + .slider {
    background-color: #64b0ff;
    border: 1px solid #dfdfdf;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.swSpan {
    font-size: 13px;
    font-weight: 600;
    //padding-top: 2px;
}
.rLabel {
    font-size: 13px;
    color: #121212;
    font-weight: 600;
    letter-spacing: .5px;
    position: absolute;
    padding-top: 3px;
}
.rLabelSub {
    font-size: 12px;
    color: #8d99ae;
    letter-spacing: .5px;
    font-weight: 300;
    //line-height: 3rem;
}


/* Content Table */

.conStyleTbl th{
    color: #5f6d7d;
    font-size: 12px;
}
.conStyleTbl td{
    font-size: 12px;
}


/* Buy Alert */
.alertBox{
    display: flex;
}
.dayBox {
    //background-color: #1876D2;
    //border: 1px solid #1876D2;
    padding: 1.2rem 1.2rem;
    color: #fff;
    width: 30%;
    float: left;
    text-transform: uppercase;
}
.dayBoxCon {
    background-color: #f8fcff;
    border: 1px solid #e6e9ed;
    padding: 1.2rem 1.2rem;
    width:70%;
    float: right;
    font-weight: 300;
}
.monColor{
    background-color:#1876D2; 
}
.tueColor{
    background-color:#1D88E5; 
}
.wedColor{
    background-color: #2297f3;
}
.thuColor{
    background-color: #42A5F5;
}
.friColor{
    background-color: #64B5F6;
}


.hL {
    border: .5px solid #d8d8d8 !important;
}

.tNorm {
    text-transform: none !important; 
}

.ccBox {
    display: inline-block;
    color: #5F6D7D;
    font-size: 13px;
}
.ccBox strong{
    font-size: 15px !important;
    letter-spacing: .6px;
}
.ccBox a{
    color: #afb8ca;
    font-size: 11px;
}
.ccBox.default {
    border: 1px solid #64b0ff !important;
}
.ccBox span{
    text-transform: uppercase;
    color: #64b0ff !important;
    font-weight: 500;
    letter-spacing: 1px;
}
.ccBox.addBank{
    background-color: #f8fcff !important;
    padding: 40px 60px;
    color: #8d99ae;
    font-size: 14px;
}
/*** Dbase ***/
.fileDbase {
    background-color: #f8fcff;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    padding: 20px;
}
.fileDbase p{
    font-size: 15px;
    font-weight: 700;
}
.fileDbase span{
    font-size: 13px;
    color: #8D99AE;
    font-weight: 300;
}
/*** Settings ***/

.disclaimer {
    height: 250px;
    overflow: auto;
    border: 1px solid #e3e3e3;
}

/** Card Su **/

.cardSu .card-header {
    background-color: #3985de;
    border-bottom: none;
}
.cardSu .card-header h4 {
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
}
.cardSu .card-body h4 {
    font-size: 18px;
    color: #133358;
    font-weight: 300;
}
.cardSu .card-body h1 {
    font-size: 30px;
    color: #3985de;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.cardSu .text-muted {
    color: #96999d!important;
    font-size: 16px;
}
.cardSu {
    border: none;
    box-shadow: 0 2px 8px 0 #b0d5ff !important;
}
.cardSu .btn-outline-primary{
    font-size: 16px !important;
}
.cardSu .card-body h4 span {
    color: #3985de;
}

/** Card body selected **/

.card-body.selected{
    background-color: #3985de;
}
.card-body.selected h4{
    color: #fff;
}
.card-body.selected  h1{
    color: #fff;
}
.selected .text-muted{
    color: #fff !important;
}
.selected button {
    background-color: #64B0FF;
    color: #fff;
}
.selected button:hover {
    background-color: #fff;
    color: #64B0FF;
}
.close {
    color: #c6ccd6 !important;
}

/**** LOGIN ***/
.rightBg{
    padding-top: 9rem;
    text-align: center;
}
.logSec{
   padding-top: 7rem;
    padding-bottom: 7rem;
    background-color: #fff;
}

.loginTxt h3{
    font-size: 24px;
    color: #3985DE;
}
.loginTxt h1{
    font-size: 36px;
    color: #133358;
    font-weight: 600 !important;
}
.loginTxt p{
    color: #5f6d7d;
    font-size: 16px;
    font-weight: 500;
}
.form-signin label {
    font-size: 11px;
    text-transform: uppercase;
}

.subP {
    color: #8D99AE;
    font-size: 14px;
}
.subP a{
    color: #8D99AE;
}
.subP a:hover{
    text-decoration: none;
}
.form-signin {
    width: 60%;
}

.logInfo {
    //margin-top: 80px;
    background-color: #fff !important;
    border-top: 1px solid #E3E3E3;
}
.logInfo p{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 10px;
    color: #8D99AE;
    line-height: 1.8;
    font-weight: 500;
    text-align: justify;
}
.logFoot {
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 16px;
    border-bottom: 1px solid #E3E3E3;
    border-top: 1px solid #E3E3E3;
    background-color: #fff;
}
.logFoot a{
    color: #5F6D7D;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
}


/*** Footer ***/

footer {
    padding: 10px;
    background-color: #2f3542;
    
}

footer p {
    font-size: 13px;
    color: #8d99ae;
}

footer .copyright {
    font-size: 11px;
    color: #5f6d7d;
    /*new*/
    margin-bottom: 0px;
}

@media only screen and (max-width: 1206px) {}

@media only screen and (max-width: 1199px) {
    nav.navbar.navbar-expand-lg.navbar-dark.nav3 a{
        padding-left: .6rem;
        padding-right: .6rem;
    }
    #navbarCollapse2 li.nav-item {
        padding: 0 0rem;
    }

}

@media only screen and (max-width: 1014px) {}

@media only screen and (max-width: 991px) {
    .mainBox{
        padding: 80px 30px !important;
    }
    nav.navbar.navbar-expand-lg.navbar-dark.nav3 a{
        border: none;
    }
    label.text-right{
        text-align: left !important;
    }
    #navbarCollapse2 .nav-link {
        display: block;
    }
    #navbarCollapse2 .nav-link img {
        padding-left: 0 !important;
        padding-right: 5px;
    }
    #navbarCollapse3 .nav-link img{
        padding-left: 48%;
    }
    /*new*/
    body {
        padding-top:137px;
    }
}

@media only screen and (max-width: 767px) {
    .boxBorderR1 {
        border-left: none;
    }
    .alertBox{
        display: inline-block;
        width: 100%;
    }
    .alertBox .form-control{
        margin-bottom: 10px;
    }
    .dayBox {
        width: 100% !important;
    }
    .dayBoxCon{
        width: 100%;
    }
    #navbarCollapse .nav-link img{
        padding-left: 47%;
    }
    
    /* login */
    
    .logSec {
        padding-left: 40px;
        padding-right: 40px;
    }
    .logSec {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .form-signin {
        width: 100%;
    }
     .logFoot {
        text-align: center
    }
    .logFoot .footSocial{
        text-align: center !important;
        padding-top: 20px;
    }
}

@media only screen and (max-width: 479px) {
    .navbar-brand img {
        width: 230px;
    }
    .navbar-brand.log img {
        width: auto !important;
    }
    /*new*/
    .secNav {
        top: 67px;
    }
    body {
        padding-top:123px;
    }
    footer p {
        font-size: 9px;
    }
}