*{
    -webkit-font-smoothing: antialiased;
}

.gradBtn{
    border: none !important;
    box-shadow: 0 2px 8px 0 #B0D5FF;
}
.gradBtn:hover{
    color: #ffffff;
    background: #5099F0; /* Old browsers */
    background: -moz-linear-gradient(left, #5099F0 0%, #5099F0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #5099F0 0%,#5099F0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #5099F0 0%,#5099F0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5099F0', endColorstr='#5099F0',GradientType=1 ); /* IE6-9 */
}
.subH1{
    font-weight: 400 !important;
}

label{font-weight: 600;}


.mainBox{
    padding: 70px 48px !important;
    margin-bottom: 0;
    border-bottom: #E3E3E3 1px solid;
}
footer{
    margin-top: 70px !important;
}


 

/*=========== 
| Global Styles 
=============*/
 
hr{ border: .5px solid #d8d8d8 !important; }
a { color: #3985DE; }

/* Font Weights */
b, strong{ font-weight: 700; }
.font-reg{ font-weight: 400 !important;  }
.font-med{ font-weight: 500 !important;  }
.font-bold{ font-weight: 600 !important;  }
.font-xbold{ font-weight: 700 !important;  }
.content p{ font-weight: 300; }

/* Buttons */
.btn{ font-weight: 600 !important; }
.btn-xs{ padding: 8px 15px !important;  font-size: 11px; text-transform: uppercase; font-weight: 500; }
.btn-gray{ color: #ffffff; background: #8D99AE; border: none; }
.btn-gray:hover{ color: #ffffff; background: #748096; border: none; }
.btn-light-gray{ color: #ffffff; background: #AFB8CA; border: none; }
.btn-light-gray:hover{ color: #ffffff; background: #A3ADBE; border: none; }
.btn-icon-l .fa{ margin-right: 4px; }
.btn-icon-r .fa{ margin-left: 4px; }
.btn-outline-secondary{
    color: #8D99AE;
    border-color: #8D99AE;
}


/* Tooltip */
.tooltip{margin-left: 10px;}


/* Status */
.last-updated{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #3985DE;
    letter-spacing: 0;
}

/* Title Bar Date */
 
.topTitleBar hr{
    margin-top: 15px;
    border: .5px solid #5F6D7D !important;
}
.topTitleBar .date{
/* Friday - May 25, 201: */
font-weight: 600;
font-size: 14px;
color: #8D99AE;
letter-spacing: 0;
text-transform: uppercase;
}

/* Pagination by Week */
.pagination-week{
    width: 100%;
    background: #ffffff;
    padding: 30px;
    margin-top: 0 !important;
 
}
.pagination-week a{
    /* Previous Week: */
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    color: #8D99AE;
    letter-spacing: 1.73px;
    text-align: center;
}

/* Helper Text */
.helper-text{
    font-size: 11px;
    color: #8D99AE;
    letter-spacing: 0.42px;
}
.asterisk-req{
     
      
}
.asterisk-req{
    display: inline-block;
    vertical-align: middle;
    margin: 0px 2px;
    color: #3985de;
    font-size: 6px !important;
}
.percent{
    color: #3985DE;
}

/*=========== 
| Search Tools 
=============*/

.search-tools input{
    /* Rectangle 3: */
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-shadow: 0 1px 3px 0 #E6EBF1;
    border-radius: 3px;
} 
.search-tools input::placeholder{
    /* Type here ...: */
    font-family: Montserrat-Regular;
    font-size: 13px;
    color: #8D99AE;
}
.search-tools label{
    /* Search:: */
    text-transform: none;
    font-weight: 500;
    font-size: 13px;
    color: #8D99AE;
    letter-spacing: 0.5px;
}
.search-tools select{
    border: 1px solid #E3E3E3;
    box-shadow: 0 1px 3px 0 #E6EBF1;
    border-radius: 3px;
    font-size: 13px;
}


/*=========== 
| Navigation 
=============*/
 .main-nav{ background: #383E4A !important; padding: 20px 0; }


/*============== 
| Open Positions 
================*/
.op-head{margin-bottom: 30px;}
.op-update{text-align: left;}
.op-update .fa-info-circle{
    color: #64B0FF;
    font-size: 14px;
    margin-left: 0;
}


#open-position_filter input{
    /* Rectangle 3: */
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-shadow: 0 1px 3px 0 #E6EBF1;
    border-radius: 3px;
}
 
#open-position_filter label, #open-position_length label{
    text-transform: none;
    font-weight: 500;
    font-size: 13px;
    color: #8D99AE;
    letter-spacing: 0.5px;
}
#open-position_filter input::placeholder{
    color:#8D99AE;
}


 .modal-op p{
    color: #5F6D7D;
 }

/*============== 
| Manage Users
================*/
.manage-users{
}


/*============== 
| Data Table
================*/
.global-table thead{
    background: #2F3542 ;
}


.global-table thead th{
    text-transform: uppercase;
    font-size: 10.5px;
    font-weight: 600;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    line-height: 13px;
    border-right: 1px solid #535863;
    border-left: 1px solid #535863;
    border-top: 1px solid #535863;
    border: 1px solid #535863;
}
.global-table .dataTables_scroll{
    border-bottom: 1px solid #DDE1E5;
    margin-bottom: 16px;
}
/*====== Change Sort Icons =====*/
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before{
    right: 1.3em;
    content: "\f30c";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
    content: "\f309";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}
/*====== Table Text Styles =====*/
.global-table tbody td{
    font-weight: 400;
    font-size: 12px;
    color: #5F6D7D;
    line-height: 13px;
}
.global-table tbody td span.text-red{color: #FF3F34;}
.global-table tbody td span.text-red a{
    font-weight: 600;
    font-size: 12px;
    color: #FF3F34;
    line-height: 13px; 
}
.global-table tbody td span.text-green{color: #03C46A;}
.global-table tbody td span.text-blue {color: #3985DE;}
.global-table tbody td span.text-blue a{
    font-weight: 600;
    font-size: 12px;
    color: #3985DE;
    line-height: 13px; 
}

/*====== Table Add/Reduce Stock Symbol =====*/
.global-table tbody td span.stock-add a{color: #03C46A;}
.global-table tbody td span.stock-minus a{color: #FF3F34;}

/*====== Table Actions =====*/
.global-table .table-actions span{margin-left: 8px; }
.global-table .dataTables_info{
    font-size: 13px;
    color: #8D99AE;
    letter-spacing: 0.5px;
}
/*====== Table Paginations =====*/
.global-table .dataTables_paginate ul.pagination li a{
    font-size: 13px;
    color: #8D99AE;
    margin: 0 4px;
    border-radius: 3px;
}
.global-table .dataTables_paginate ul.pagination li.active a{
    background: #3985DE;
    color: #ffffff;
    border-radius: 3px;
}
/*====== Table Status: Online/Offline/Inactive; =====*/
.online{ color: #03C46A;  }
.online:before{ color: #03C46A; content: "\f111"; font-family: "Font Awesome 5 Free"; font-weight: 900; font-size: 8px; display: inline-block; vertical-align: middle; margin-right: 4px;}
.inactive{ color: #8D99AE; }
.inactive:before{ color: #8D99AE; content: "\f111"; font-family: "Font Awesome 5 Free"; font-weight: 900; font-size: 8px; display: inline-block; vertical-align: middle; margin-right: 4px;}
.offline{ color: #FF3F34; }
.offline:before{ color: #FF3F34; content: "\f111"; font-family: "Font Awesome 5 Free"; font-weight: 900; font-size: 8px; display: inline-block; vertical-align: middle; margin-right: 4px;}
 

/*====== Table Top: Control Elements  =====*/
.global-table .dataTables_wrapper .top .dataTables_info{ display: none;  } 
.global-table .dataTables_wrapper .top .dataTables_length{ float: left; clear: both; }
.global-table .dataTables_wrapper .top .dataTables_paginate{ float: right; }

.global-table .dataTables_wrapper .bottom .dataTables_info{  float: left; clear: both;  } 
.global-table .dataTables_wrapper .bottom .dataTables_length{ float: left; clear: both; margin-top: 15px; }
.global-table .dataTables_wrapper .bottom .dataTables_paginate{ float: right; }


.global-table .dataTables_length label{
    text-transform: none;
    font-weight: 500;
    font-size: 13px;
    color: #8D99AE;
    letter-spacing: 0.5px;
}

/*====== Colored Cells  =====*/
.global-table .table-primary td{
    color: #ffffff !important;
}
 
/*============== 
| Secondary Table
================*/
.secondary-table th{
    font-weight: 600;
    font-size: 12px;
    color: #5F6D7D;
    line-height: 13px;
}
.secondary-table td{
    font-size: 12px;
    color: #5F6D7D;
    line-height: 13px;
}

.table-primary, .table-primary>td, .table-primary>th{
    color: #ffffff;
    background: #3985DE;
}

/*============== 
| Feed
================*/

 

.feed{
    background: #ffffff;
    width: 100%;
    padding: 30px 30px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    border-bottom: #E3E3E3 1px solid;
}
 
.feed-new{
    background: #FFEAA8;
}

.feed .title h2{
    display: inline-block;
    font-size: 20px;
    vertical-align: -webkit-baseline-middle;

}
.feed .title span{
    position: relative;
    font-size: 11px;
    vertical-align: -webkit-baseline-middle;
}
.feed .indicator{
    width: 20px;
    height: 20px;
    margin-right: 13px;
}
.feed .time{
    position: absolute;
    right: 26px;
    color: #AFB8CA;
    font-size: 13px;

}
.feed .date-posted{
    font-size: 13px;
    color: #8D99AE;
    letter-spacing: 0;
    margin-bottom: 15px;
}
.feed .content{
    flex: 1;
}
.feed .text p{
    font-size: 16px;
    color: #2F3542;
    letter-spacing: 0;
    font-weight: 300;
}
.feed-type--p p{
    max-width: 900px;
    font-weight: 300;
    font-size: 16px;
    color: #2F3542;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 20px;
}

.feed-type--blue h2 { color: #3985DE; }
.feed-type--blue .indicator span{ color: #3985DE; font-size: 12px; }
.feed-type--green h2 { color: #03C46A; }
.feed-type--green .indicator span{ color: #03C46A; font-size: 12px; }
.feed-type--red h2, .feed-type--red span { color: #FF3F34; }
.feed-type--red .indicator span{ color: #FF3F34; font-size: 12px; }






/*=========== 
| Default Page
=============*/
.default .default--item{
    margin: 0 0 30px;
}
.default .default--item:first-child{
    margin-top: 30px;
}
.default .default--item:last-child{
    margin-bottom: 0;
}
.default{
     max-width: 730px;
}
.default hr{
    margin: 50px 0;
}
.default h2{
    font-size: 24px;
    margin: 0 0 30px;
}
.default .default--item h3{/* Bump: */
font-weight: 600;
font-size: 18px;
color: #2F3542;
letter-spacing: 0;}

.default .default--item p,
.default .default--item ol{
   
    font-weight: 300;
}
.default .default--item ol li{
    margin-bottom: 10px;
    font-size: 15px;
}
.default form.form-archives{
    max-width: 200px;
}

/*=========== 
| Post Archives
=============*/

.list-archives a{
    display: inline-block;
    margin-right: 10px;
}
.list-archives span{
    font-size: 15px;
    color: #5F6D7D;
    letter-spacing: 0;
    line-height: 21px;
}
.link-gray{
    font-size: 13px;
    color: #8D99AE;
    letter-spacing: 0.5px;
}
.link-gray i.fa{
    margin-right: 4px;
}
.link-gray:hover{
    font-size: 13px;
    color: #5F6D7D;
    letter-spacing: 0.5px;
}
.box-archives{
    padding-bottom: 0 !important;
}


.cp-filter button{
   height: 35px;
}


/*=========== 
| DRMA
=============*/
.drma table input{
    height: 28px;
}

.drma table td{
    vertical-align: middle;
}



@media (min-width: 992px){
    .modal-lg {
        max-width: 1000px;
    }
}


/*============== 
| Media Queries
================*/
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    h1{
        font-size: 30px;
    }
    .mainBox{
        padding: 30px 24px !important;
    }
   
    .op-update{
        text-align: center;
        margin-top: 20px;
    }
    .table-actions span{
        display: block;
        margin: 6px 0;
    }
   
}

/*  Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {  }




/*  Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/*  Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { }

/*  Extra large devices (large desktops) */
/*  No media query since the extra-large breakpoint has no upper bound on its width */
